@mixin hoverLink {
  &:hover {
    cursor: pointer;
  }
  &::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $black;
    transition: width .3s ease-out;
  }
  &:hover::after {
    width: 100%;
  }
}
