$bodyFont: 'Barlow Semi Condensed', sans-serif;


// colors
$black: #333;
$bright-pink: #f976b1;
$ochre: #cf9d31;
$blue: #0078ff;
$water-green: #68e2bd;
$pink: #ffa8aa;
$orange-red: #ff4000;
$green: #00bd7c;
$salmon: #ffa07d;
$dark-pink: #cc5675;
$orange: #ffa601;
