$bodyFont: 'Rubik', sans-serif;

// font sizes
$extra-small: 12px;
$small: 15px;
$regular: 20px;
$medium: 25px;
$large: 30px;
$extra-large: 70px;

// colors
$dark-grey: #333;
$black: #000;
$bright-pink: #f976b1;
$ochre: #cf9d31;
$blue: #0078ff;
$water-green: #68e2bd;
$pink: #ffa8aa;
$orange-red: #ff4000;
$green: #00bd7c;
$salmon: #ffa07d;
$dark-pink: #cc5675;
$orange: #ffa601;
