$bodyFont: 'Rubik', sans-serif;

// font sizes
$extra-small: 12px;
$small: 1.3vw;
$regular: 2.2vw;
$medium: 2.5vw;
$large: 4vw;
$extra-large: 6vw;

// @media only screen
//   and (max-device-height: 320px) {
//     $extra-small: 12px;
//     $small: 15px;
//     $regular: 18px;
//     $medium: 20px;
//     $large: 25px;
//     $extra-large: 50px;
// }

// colors
$dark-grey: #333;
$black: #000;
$bright-pink: #f976b1;
$ochre: #cf9d31;
$blue: #0078ff;
$water-green: #68e2bd;
$pink: #ffa8aa;
$orange-red: #ff4000;
$green: #00bd7c;
$salmon: #ffa07d;
$dark-pink: #cc5675;
$orange: #ffa601;
