.podcasts .fp-slide:nth-child(odd) {
  .left-side {
    background: $ochre;
  }
  .right-side {
    background: $bright-pink;
  }

  // .pagination {
  //   background: $bright-pink;
  // }
}
.podcasts .fp-slide:nth-child(even) {
  .left-side {
    background: $bright-pink;
  }
  .right-side {
    background: $ochre;
  }

  // .pagination {
  //   background: $bright-pink;
  // }
}

.books .fp-slide:nth-child(odd) {
  .left-side {
    background: $water-green;
  }
  .right-side {
    background: $blue;
  }

  // .pagination {
  //   background: $blue;
  // }
}
.books .fp-slide:nth-child(even) {
  .left-side {
    background: $blue;
  }
  .right-side {
    background: $water-green;
  }

  // .pagination {
  //   background: $blue;
  // }
}

.events .fp-slide:nth-child(odd) {
  .left-side {
    background: $orange-red;
  }
  .right-side {
    background: $pink;
  }

  // .pagination {
  //   background: $pink;
  // }
}
.events .fp-slide:nth-child(even) {
  .left-side {
    background: $pink;
  }
  .right-side {
    background: $orange-red;
  }

  // .pagination {
  //   background: $pink;
  // }
}

.tvnfilms .fp-slide:nth-child(odd) {
  .left-side {
    background: $salmon;
  }
  .right-side {
    background: $green;
  }

  // .pagination {
  //   background: $green;
  // }
}
.tvnfilms .fp-slide:nth-child(even) {
  .left-side {
    background: $green;
  }
  .right-side {
    background: $salmon;
  }

  // .pagination {
  //   background: $green;
  // }
}

.website .fp-slide:nth-child(odd) {
  .left-side {
    background: $orange;
  }
  .right-side {
    background: $dark-pink;
  }

  // .pagination {
  //   background: $dark-pink;
  // }
}
.website .fp-slide:nth-child(even) {
  .left-side {
    background: $dark-pink;
  }
  .right-side {
    background: $orange;
  }

  // .pagination {
  //   background: $dark-pink;
  // }
}
