header {
  position: fixed;
  width: 150px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 1;
  transition: opacity 1s ease-out;
  li {
    height: 15vh;
    position: relative;
    a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      @include hoverLink;
      text-decoration: none;
    }

    &.active::before {
      content: '\2022';
      content: '\f111';
      font-family: FontAwesome;
      position:absolute;
      font-size: 8px;
      top: 50px;
      left: 30px;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.2s ease-out;
    }

    &.show:before {
      opacity: 1;
    }

    &.active-li:hover::after {
      width: 0;
    }

    i {
      margin-right: 5px;
    }
  }
}

.hide-nav {
  opacity: 0!important;
}

nav {
  p {
    &:first-child {
      position: fixed;
      z-index: 1;
      right: 20px;
      top: 20px;
    }
    &:nth-child(2) {
      position: fixed;
      z-index: 1;
      right: 6.3vw;
      bottom: 3.9vw;
      // position: relative;
      img {
        transform: scaleX(-1);
        position: fixed;
        width: 1.4vw;
        bottom: 3.8vw;
        right: 4.5vw;
      }
    }
    a {
      text-decoration: none;
      @include hoverLink;
    }
  }
}
