body {
  background-color: $black;
}

main {
  background: $black;
}

.fp-tableCell {
  display: flex;
  background: $black;
  position: relative;

  .half-side {
    width: 50%;
    display: flex;
    padding: 60px;
    text-align: center;
    .flex-container {
      display: flex;
      opacity: 0;
      flex-direction: column;
      align-content: center;
      justify-content: space-between;
      width: 100%;
    }

    .author {
      margin-top: 20px;
    }

    .category, .extra-details {
      display: flex;
      height: 70px;
      justify-content: center;
      align-items: center;
    }

    .learn-more {
      position: relative;
      display: inline-block;
      &:before {
        content: '\f08b';
        font-family: FontAwesome;
        font-size: $small;
        position:absolute;
        right: -20px;
        top: -1px;
      }
    }
  }

  .left-side h1 {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  .right-side {
    p {
      align-self: center;
    }
  }

  .link-container {
    display: inline-block;
  }

  .outside-link {
    @include hoverLink;
    text-decoration: none;
    display: inline-block;
  }

  .download-link {
    @include reverseHoverLink;
    display: inline-block;
    text-decoration: none;
  }

  .pagination {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
  }
}

#fullpage {
  transition: all linear 0.3s;
}

.fp-controlArrow {
  margin: 0;
  //
  transform: scale3d(1, 1, 1);
  transition: all 0.3s ease-out;
  &.is-hover {
    transform: scale3d(1.1, 1.1, 1.1);
  }
}

.fp-controlArrow.fp-next {
  border-width: 0;
  margin-right: 10px;
  &::before {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 30px;
    font-weight: bold;
    &.is-hover {
      cursor: pointer;
    }
  }
}

.fp-controlArrow.fp-prev {
  border-width: 0;
  &::before {
    content: "\f104";
    font-family: FontAwesome;
    font-size: 30px;
    font-weight: bold;
    &.is-hover {
      cursor: pointer;
    }
  }
}

.fp-table .fp-tableCell .left-side .flex-content,
.fp-table .fp-tableCell .right-side .flex-content {
  opacity: 0;
  transition: all linear 3s;
}

// .fadeInUp {
//   -webkit-animation-duration: 1s;
// }

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.rotateInDownLeft {
  animation-duration: 3s;
  animation-name: rotateInDownLeftCustom;
}

@keyframes rotateInDownLeftCustom {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -10deg);
    opacity: 1;
  }

  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1;
  }
}
