body {
  background-color: #cf9d31; 
}

main {
  background: #cf9d31;
}

.fp-tableCell {
  display: flex;
  background: #cf9d31;
  position: relative;

  .half-side {
    width: 50%;
    display: flex;
    padding: 60px;
    text-align: center;
    .flex-container {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-between;
      width: 100%;
    }

    .category {
      margin-bottom: 10px;
    }
  }

  .left-side h1 {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  .right-side {
    p {
      align-self: center;
    }
  }

  .link-container {
    display: inline-block;
  }

  .outside-link {
    @include hoverLink;
    text-decoration: none;
    display: inline-block;
  }

  .pagination {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
  }
}

#fullpage {
  transition: all linear 0.3s;
}

.fp-controlArrow {
  margin: 0;

}

.fp-controlArrow.fp-next {
  border-width: 0;
  margin-right: 10px;
  &::before {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 25px;
    &:hover {
      cursor: pointer;
    }
  }
}

.fp-controlArrow.fp-prev {
  border-width: 0;
  // margin-left: 20px;
  &::before {
    content: "\f104";
    font-family: FontAwesome;
    font-size: 25px;
    &:hover {
      cursor: pointer;
    }
  }
}

.fp-table .fp-tableCell .left-side div, .fp-table .fp-tableCell .right-side div {
  opacity: 0;
  transition: all linear 3s;
}

// .fadeInUp {
//   -webkit-animation-duration: 1s;
// }

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.rotateInDownLeft {
  animation-duration: 3s;
  animation-name: rotateInDownLeftCustom;
}

@keyframes rotateInDownLeftCustom {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -10deg);
    opacity: 1;
  }

  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1;
  }
}
